name: Run Tests

on:
  push:
    branches: [ qa9_test, qa9_test ]
  pull_request:
    branches: [ qa9_test, qa9_test ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
        
    - name: Install dependencies
      working-directory: qa/l9
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Run tests with pytest
      working-directory: qa/l9
      run: |
        pytest -v test_jsonplaceholder.py

